
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 font-family:'monospace',
}

h1 {
  position: relative;
  display: inline-block;
}

h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  height: 5px; 
  width: 100%;
  background-color: currentColor; 
}



.photo-frame {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
  transition: transform 0.5s;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: filter 0.5s;
  
}


.photo-frame:hover {
  position: relative;
  z-index: 1;
}

.photo-frame:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.photo-frame:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}



.sphere {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

.face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #000000;
  font-size: 2;
  font-weight: bold;
  box-sizing: border-box;
  backface-visibility: hidden;
}

